def currentDate = new Date().format("dd-MM-yyyy")

params {
    fastq_folder = './seqs' 
    output_folder = "./AnalysisKraken_${currentDate}"
    genome_path = '/mnt/luks/databases/hg38_bowtie2'
    kraken_db_path = '/mnt/luks/databases/nextflow_kraken/kraken_db/silvaNR99'
    readlength_paired = 250
    readlength_single = 500
    use_fastp = true
    use_kneaddata = true
    help = false
}

process {
    container = 'library://fabbrinimarco/16s-krakenbracken-pipeline/k16s:v2'
    singularity {
            runOptions = "--bind ${params.fastq_folder}:${params.fastq_folder},${params.output_folder}:${params.output_folder},${params.genome_path}:${params.genome_path}"
        }
}

manifest {
	author = "Marco Fabbrini"
	defaultBranch = "main"
	description = "Containerized pipeline for 16S rRNA analyses with Kracken2/Bracken"
	name = "16S-KrakenBracken-Pipeline"
	nextflowVersion = ">=24.04.3"
	version = "0.2"
}