def currentDate = new Date().format("dd-MM-yyyy")

params {
    fastq_folder = './seqs'
    output_folder = "./AnalysisKraken_${currentDate}"
    genome_path = null
    readlength_paired = 250
    readlength_single = 500
    use_fastp = true
    use_kneaddata = true
    help = false
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = params.genome_path ? "--bind ${params.genome_path}:/data/genomes" : ""
}

process {
    container = 'library://fabbrinimarco/16s-krakenbracken-pipeline/k16s:v2'

    singularity {
        runOptions = [
                "--bind ${params.fastq_folder}:${params.fastq_folder}",
                "--bind ${params.output_folder}:${params.output_folder}",
                params.genome_path ? "--bind ${params.genome_path}:/data/genomes" : ""
        ].join(" ")  
    }
}

manifest {
	author = "Marco Fabbrini"
	defaultBranch = "main"
	description = "Containerized pipeline for 16S rRNA analyses with Kracken2/Bracken"
	name = "16S-KrakenBracken-Pipeline"
	nextflowVersion = ">=24.10.1"
	version = "0.2.3"
}